# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Runtime
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Uploads
uploads/

# Test coverage
coverage/
*.lcov

# Other
.cache/
.tmp/
